table {
    max-width: 10%;
    border-collapse: collapse;
    background-color: rgb(118, 235, 235);
    margin-top: 20px;
    margin-left: 0.01%;
}

table, th, td {
    border: 1px solid #ddd;
}

td {
    padding: 1px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: left;
}

th.name {
    width: 0.001%;
}

th.description {
    width: 5%;
}

th.price {
    width: 0.001%;
}

th.stock-quantity {
    width:0.1vmin;
}

#displayImage {
    max-width: 20px;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 0;
    background-color: #fff;
}

#productDetails {
    text-align: center;
}
body{
    background-color: bisque;
}
